team_user_arns = [
  "arn:aws:iam::<account>:user/<your-user>"
]

domain_name = "example.com"
app_domain  = "app.example.com"

# DNS name of the AWS LoadBalancer created by Gateway service
lb_dns_name = "<elb-dns-name-from-kubectl-get-svc>"

# Hosted zone ID of that LoadBalancer
lb_zone_id  = "<elb-hosted-zone-id>"
